<section class="content-header">
    <h1>
        Nhà sản xuất / Thương hiệu
        <small>danh sách các nhà sản xuất / thương hiệu</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Simple</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"></h3>
                    <button class="btn btn-sm btn-success" ui-sref="brandAdd"> <i class="fa fa-plus" aria-hidden="true"></i> Thêm mới</button>
                    <button class="btn btn-sm btn-danger" ng-click="deleteMultiple()" id="btnDeleteMultiple" disabled> <i class="fa fa-trash" aria-hidden="true"></i> Xóa</button>
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 250px;">
                            <input type="text" class="form-control" placeholder="Search..." ng-model="keyword" clear-input callback-func="search()">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" ng-click="search()">Search</button>

                            </span>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th width="5%"><input type="checkbox" id="cbxCheckAll" ng-click="checkAll()"/></th>
                            <th width="5%">ID</th>
                            <th width="15%">Tên</th>
                            <th width="15%">Mô tả</th>
                            <th width="15%">Ngày tạo</th>
                            <th width="15%">Người tạo</th>
                            <th width="10%">Số sản phẩm</th>
                            <th width="7%">Trạng thái</th>
                            <th width="13%">Thao tác</th>
                        </tr>
                        <tr ng-repeat="item in brands">
                            <td><input type="checkbox" ng-model="item.checked" /></td>
                            <td>{{item.ID}}</td>
                            <td>{{item.Name}}</td>
                            <td>{{item.Description}}</td>
                            <td>{{item.CreateDate | amUtc | amLocal | amDateFormat:'DD/MM/YYYY HH:mm:ss'}}</td>
                            <td>{{item.CreateBy}}</td>
                            <td>{{item.ProductCount}}</td>
                            <td>
                                <span ng-class="{'label label-success': item.Status == true, 'label label-danger':item.Status == false}">
                                    {{item.Status | statusFilter}}
                                </span>

                            </td>
                            <td>
                                <a class="btn btn-warning" ui-sref="brandEdit({id:item.ID})"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Sửa</a>
                                <a class="btn btn-danger" ng-click="deleteBrand(item.ID)"><i class="fa fa-trash-o" aria-hidden="true"></i> Xóa</a>
                            </td>
                        </tr>

                    </table>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <page-directive page="{{page}}" custom-path="{{customPath}}" page-count="{{pageCount}}" total-count="{{totalCount}}" search-func="getAllBrand(page)"></page-directive>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>