<div>
    <div ng-hide="(!pageCount || pageCount < 2)" style="display:inline">
        <ul class="pagination pagination-sm">
            <li ng-class="{'disabled' : page == 0}"><a ng-class="{'disabled' : page == 0}" ng-click="search(0)"><<</a></li>
            <li ng-class="{'disabled' : page == 0}"><a ng-class="{'disabled' : page == 0}" ng-click="search(page - 1)"><</a></li>

            <li ng-repeat="n in range()" ng-class="{active : n == page}">
                <a ng-click="search(n)" ng-if="n != page">{{n+1}}</a>
                <span ng-if="n == page">{{n+1}}</span>
            </li>

            <li ng-class="page == pageCount - 1 ? 'disabled':''"><a ng-click="search(pagePlus(1))">></a></li>
            <li ng-class="page == pageCount - 1 ? 'disabled':''"><a ng-click="search(pageCount - 1)">>></a></li>
        </ul>
    </div>
</div>